.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 6rem;
}
.header p{
    padding-left: 2rem;
    color: rgb(128, 99, 99);
}
.header span {
    background-color: var(--header-bg);
    font-family: monospace;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
}
a {
    text-decoration: none;
}