.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;

}
.header p{
    padding-left: 2rem;
}
.header span {
    background-color: #e8dbdb;
    font-family: monospace;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
}
a {
    text-decoration: none;
}