.expense {
  margin-top: 5rem;
  padding-top: 1rem ;
}
.form {
  margin: auto;
  padding: 1rem 1rem;
  width: 90%;
  max-width: 40rem;
  background-color: var(--header-bg);
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  color: var(--text);
}
.form-control {
  display: flex;
  /* justify-content: space-between;
   width: 5%; */
}
.control {
  margin: 0.5rem 1.5rem;
}
.control label,
.control-spent label {
  font-size: inherit;

  padding: 0.5rem;
  font-weight: bold;
  color: var(--form-label);
}
/* .control label {
  font-size: inherit;
  padding: 0.5rem;
  
  font-weight: bold;
  color: var(--text);
}
.control input {
  margin-top: 5px;
  width: 10rem;
  font-size: inherit;
  border-radius: 5px;
  border-color: rgb(218, 221, 223);
}
.control select {
  margin-top: 5px;
  cursor: pointer;
  width: 10rem;
  font-size: inherit;
  
  border-radius: 5px;
  border-color: var(--text) ;
}
.control-spent {
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.control-spent label {
  padding: 0.5rem;
  font-weight: bold;
  font-size: inherit;
  color: var(--text);
}
.control-spent input {
  width: 10rem;
  font-size: inherit;
  border-radius: 5px;
  border-color: rgb(218, 221, 223);
} */

.control input,
.control select,
.control-spent input {
  margin-top: 1rem;
  width: 10rem;
  padding: 0.3rem;
  font-size: inherit;
  border-radius: 5px;
  border: 1px solid var(--form-input-border);
  background-color: var(--bg);
  color: var(--text);
}
.action {
  margin: 1.5rem;
  margin-top: 1rem;
}
.action button {
  cursor: pointer;
  margin-left: 3rem;
  color: var(--text);
}
