.form-control {
  margin-top: 1rem;
}

.control {
  margin: auto;
  padding: 1rem;
  max-width: 40rem;
  background-color: var(--control-bg);
  color: var(--text-color);
  list-style: none;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.control li {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.detail {
  width: 13rem;
  font-size: inherit;
  color: var(--text);
}

.detail span {
  padding: 0 0.5rem;
}

button {
  margin-left: var(--button-margin);
}

@media (max-width: 500px){
  .control {
    margin: auto;
    padding: 1rem;
    width: 100%;
    background-color: var(--control-bg);
    color: var(--text-color);
    list-style: none;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
}
