.password{
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    /*vh = view port height*/
    align-items: center;
    background-color: rgb(240, 231, 231);
    max-width: 40rem;
    width: 40%;
    padding: 3rem;
    border-radius: 20px;
}
.password h3{
    color: gray;
}
.password input{
    width: 20rem;
    border-color: blue;
    font-size: inherit;
    border-radius: 7px;
}
.password button{
    
    background-color: rgb(121, 121, 173);
    color: white;
    padding: 0.5rem 1rem;
    width: 10rem;
}