.header {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--header-bg);
    color: var(--header-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
  }
  
  .header ul {
    list-style: none;
    align-items: baseline;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header li {
    margin: 0 1rem;
  }
  
  .header a {
    text-decoration: none;
    color: var(--header-text);
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: var(--link-hover);
    padding-bottom: 0.25rem;
    border-bottom: 4px solid var(--link-border);
  }
  
  .logout {
    display: flex;
    list-style: none;
  }
  
  button {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    font-size: inherit;
    border: 1px solid var(--link-border);
    border-radius: 10px;
    color: var(--button-text);
    background-color: var(--button-bg);
    cursor: pointer;
  }