.header{
    width: 80%;
    height: 5rem;
    background-color: rgb(228, 209, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.header ul {
    list-style: none;
    align-items: baseline;
    display: flex;
    margin: 0;
    padding: 0;
}
.header li {
    margin: 0 1rem;
}
.header a{
    text-decoration: none;
    color: rgb(24, 22, 22);
}
.header a:hover,
.header a:active,
.header a.active{
    color: #2e0210;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #420318;
}